<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Joe Dahlquist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="jdahlq">
    <meta name="author" content="Joe Dahlquist">

    <link href="/assets/style.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <!--<link rel="shortcut icon" href="../assets/ico/favicon.ico">-->
</head>
<body>
<div class="container">

    <header>
        <div class="row">
            <div class="span6">
                <h1 class="">{{name}}</h1>
                <p class="lead">{{tagline}}</p>
                <ul class="unstyled">
                    <li>Electronic Mail: {{email}}</li>
                    <li>Cellular Telephone: {{phone}}</li>
                    <li>GitHub: <a href="https://github.com/{{github}}">{{github}}</a></li>
                    <li>{{city}}, {{state}}</li>
                </ul>
                <p class="muted">Recent interests: {{interests}}</p>
            </div>
            <div class="span5 offset1">
                <abbr title="Mugshot!!">
                    <img class="img-circle" src="/assets/cup_of_joe.jpg" alt="Mugshot!!" width="500">
                </abbr>
            </div>
        </div>
    </header>

    <!--<hr>--><br>

    <div class="tabbable tabs-top">
        <ul class="nav nav-tabs">
            <li class="active"> <a href="#experience" data-toggle="tab" data-target="#experience">Experience</a></li>
            <li class=""> <a href="#college" data-toggle="tab" data-target="#college">College Degrees</a></li>
            <li class=""> <a href="#other-edu" data-toggle="tab" data-target="#other-edu">Other Education</a></li>
            <li class=""> <a href="#other-skills" data-toggle="tab" data-target="#other-skills">Other Skills</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="experience">
                <div class="job-entry invisible">
                    <h4>&#123;{title}}</h4>
                    <h4 class="text-info">&#123;{company}}</h4>
                    <p class="muted">
                        &#123;{startDate}} - &#123;{endDate}} | &#123;{location}}
                    </p>
                    <ul>
                        &#123;{#bullets}}
                            <li>&#123;{.}}</li>
                        &#123;{/bullets}}
                    </ul>
                    <p class="muted">Technologies:  &#123;{technologies}}</p>
                    &nbsp;
                </div>
            </div>
            <div class="tab-pane" id="college">
                <div class="college-entry invisible">
                    &#123;{#degrees}}
                        <h4>&#123;{.}}</h4>
                    &#123;{/degrees}}
                    <h4 class="text-info">&#123;{name}}</h4>
                    <p class="muted">
                        &#123;{startDate}} - &#123;{endDate}} | &#123;{location}}
                    </p>
                    <ul>
                        &#123;{#bullets}}
                        <li>&#123;{.}}</li>
                        &#123;{/bullets}}
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="other-edu">
                <blockquote class="invisible"><p>&#123;&#123;{element}}}</p></blockquote>
            </div>
            <div class="tab-pane" id="other-skills">
               <blockquote class="invisible"><p>&#123;{element}}</p></blockquote>
            </div>
        </div>
    </div>

    <!--<div class="container">
        <blockquote class="pull-right">
            <p>Your website really sucks.</p>
            <small>God in Milton's <cite>Paradise Lost</cite></small>
        </blockquote>
    </div>-->

    <hr>
    <footer>
      <div class="pull-left">
        <span class="label label-info pull-left">411</span>&nbsp;
        <br>&nbsp;
      </div>
      <div>
      This website uses Node.js with Express, AWS EC2, Twitter Bootstrap, jQuery, Mustache templates,
      LESS CSS, Vows BDD, and more.
      <br>
      See the
      <a href="http://github.com/jdahlq/resume-http-beam">source</a>
      on GitHub.
      </div>
    </footer>

</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/bootstrap/bootstrap-tab.js"></script>
<script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
<script src="/js/client.js"></script>
</body>
</html>